/* Reset default styles */
body,
div {
  margin: 0;
  padding: 0;
  display: block;
}

/* Body styles */
body {
  font-size: 22px;
  font-family: "Neue Montreal", Pretendard, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  color: #181818;
  background-color: #fff;
}

/* Centered content */
.element {
  font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", "Fira Sans", Avenir, "Helvetica Neue", "Lucida Grande", sans-serif;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Hide scrollbar */
::-webkit-scrollbar {
  width: 0;
  height: 0;
}
